@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;
    --scrollColorBar: #ff6900;
    --scrollColorBarHover: #ff6900;
    --scrollColorBarActive: #ff6900;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter-sans);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
    ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.05);
    }
    * {
        scrollbar-color: var(--scrollColorBar);
    }
}

body,
html {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter-sans);
}

/* Кастомный скроллбар для всей страницы */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollColorBar);
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollColorBarHover);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:active {
    background: var(--scrollColorBarActive);
    background-clip: padding-box;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
